/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #555;
}

/* Área de conteúdo */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
}

.content h1 {
    margin-bottom: 10px;
}

/* Estilo para a tabela */
.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; /* Tabela escondida por padrão */
}

.tabela th, .tabela td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabela th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela tr:hover {
    background-color: #eaeaea;
}

.buttons {
    margin-bottom: 10px;
}

#geralTable {
    width: 100%;
    border-collapse: collapse;
}

#geralTable th, #geralTable td {
    padding: 10px;
    text-align: left;
}
